/*menus*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Pacifico&display=swap');
/*background-image: linear-gradient(270deg, #100d28,#8906e6);*/
body {
 background-image: url(../imgs/img_de_fundo_dp.png);
 background-repeat: no-repeat;
 background-size:cover ;
  max-height: 100%;
  }

*{
    padding: 0;
    margin: 0;
    
}

/*mexi para deixar o menu fixo: position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  */
  /*inicio menus*/
  header{
    position: relative;
    position: fixed;
    z-index:2 ;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #210037;
    box-shadow: 0px 3px 10px #464646;
  }
  
  /*background-image: linear-gradient(90deg, #a9016d, #040405);*/
  
  .nav-bar{
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 6rem;
      height: 80px;
  }
  
  .logo{
      display: flex;
      align-items: center;
  }
  
  .logo h1{
      color: #fff;
  }
  
  .nav-list{
      display: flex;
      align-items: center;
      
     
  }
  
  
  .nav-list ul:hover{
    color: #000;
  }
  
  .nav-list ul{
      display: flex;
      justify-content: center;
      list-style: none;
      
    
  }
  
  .nav-item{
      margin: 15px;
      transition-duration: .25s;
      padding: 10px;
      
    
     
  }
  
  .nav-item:hover{
    background-color: #CFD8DC;
  
      
  
  }
  .nav-link:hover{
    color: black;
    
  }
  
  .nav-link{
      text-decoration: none;
      font-size: 1.15rem;
      color: #fff;
      font-weight: 400;
  }
  
  /*botão do pânico*/

  .login-button{
    margin-left: -100px;
  
  }

  .login-button button{
    background-color: crimson;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-weight:bolder ;
    font-size: 1rem;
  }

  .login-button button:hover{
    transition: all 0.5s ease-out;
    transform: scale(1.2);
    color: plum;
  }
  
  /*fim do botão do pânico*/
  
  .mobile-menu-icon{
      display: none;
  }
  
  .mobile-menu{
      display: none;
  }
  
  @media screen and (max-width: 730px) {
      .nav-bar{
          padding: 1.5rem 4rem;
      }
      
      .mobile-menu-icon{
          display: block;
      }
      .mobile-menu-icon button{
          background-color: transparent;
          border: none;
          cursor: pointer;
      }
      .mobile-menu ul{
          display: flex;
          flex-direction: column;
          text-align: center;
          padding-bottom: 1rem;
      }
  
      .mobile-menu .nav-item{
          display: block;
          padding: 1.2rem;
      }
      .mobile-menu .login-button{
          display: block;
          padding: 1rem 2rem;
      }
      .mobile-menu .login-button button{
          width: 100%;
      }
      .open{
          display: block;
      }
  }
  
  
  /*menu hamburguer*/
    /*teste menu hamburguer*/
  
    .hamburger-menu{
      position: absolute;
  
    }
    
    #menu__toggle {
      opacity: 0;
   
      
    }
    #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      left: 0 !important;
    }
    .menu__btn {
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 4;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: white;
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .menu__box {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #210037;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
      transition-duration: .25s;
      z-index: 3;
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
    }
    .menu__item:hover {
      background-color: #CFD8DC;
      color: black;
    }
  /*fim menus*/

.geral{
    background-color: #210037;
    opacity: 75%;
    margin: 0 auto;
   /* width: 1200px;*/
    min-height: 100%;
    border-radius: 15px;
    margin-top: 200px;
    margin-bottom: 40px;
    margin-left: 150px;
    margin-right: 150px;

   



}

/*coluna de depoimentos 1*/
.box1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
   
}

/*caixas de depoimentos*/
.card-title {
    color: #262626;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
  
  }
  
  .small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
  }
  
  .small-desc {
    font-size: 1em;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card {
    display: block;
    position: relative;
    max-width: 300px;
    max-height: 320px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    /*background: linear-gradient(to bottom, #c2cdd2,#838f97);*/
    opacity: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
 
   
   
  }
  
  .card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    /**background: linear-gradient(135deg, #364a60, #384c6c);*/
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
    
  
  }
  
  .card:hover:before {
    transform: scale(40);

  }
  
  .card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }

  /*coluna de depoimentos 2*/
  .box2{
    display: flex;
    justify-content: space-evenly;
}
 
 /*coluna de depoimentos 3*/
.box3{
  display: flex;
  justify-content: space-evenly;
}

input{
  background-color:  #384c6c;
  margin-left: 30%;
  text-align: center;
  height: 100px;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  border-radius: 10px;
}

#depoimentos-container {
  display: flex;
  flex-wrap: wrap; /* Permitir que os elementos quebrem linha */
  justify-content: center; /* Centralizar os elementos horizontalmente */
  gap: 20px; /* Espaçamento entre os depoimentos */
}

.card {
  flex: 1 1 calc(50% - 20px); /* Ocupa 50% da largura menos o gap */
  box-sizing: border-box; /* Garantir que padding e borda sejam incluídos na largura */
  padding: 15px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 500px; /* Limitar largura máxima para evitar que fique muito grande */
}
#botao-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente (se necessário) */
  margin: 20px 0; /* Espaçamento acima e abaixo */
}

button {
  padding: 10px 20px;
  background-color: #d4d4d4;
  color: #0056b3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3; /* Cor ao passar o mouse */
  color: white;
  box-shadow: 0px 3px 10px #6293c8;
}


/*responsividade para celular*/
@media screen and (max-width: 480px) {

  /*cabeçalho*/
  
  .nav-item{
    margin-left: -3px;
    margin-top: 100px;

  }

  .nav-link{
    margin: 0;
    text-align: center;
  }

  .nav-bar{
    font-size: 5px;
    padding: 0.3rem 0.3rem;
    margin-top: 50px;

  }
  .nav-list{
    word-spacing: -2px;
  }

  .login-button{
    margin-top: -15px;
    margin-left: -150px;
  }
  

  .logo{
    display: none;
  }

  .icon{
    display: none;
  }

  header{
    
    width: 100%;
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
    height: 170px;
   
  }

  

  /*parte do menu*/
  .nav-bar{
    padding: 1.0rem 0.1rem;
    margin-top: 50px;

  }

  

  .login-button{
    margin-left: -220px; 
    height: 100%;
  }

  .login-button button{
    width: 200px;
  }

  .logo{
    display: none;
  }

  .icon{
    display: none;
  }

  /* fim cabeçalho*/


  body{
    max-width: 390px;


  }

  .geral{
    max-width:300px;
    padding: 20px;
    margin: 20px;
    margin-top:250px ;
  }

  .card{
    width: 180px;
  }



  





  

}


@media screen and (max-width: 720px) and (max-height: 1600px) {
  /* Estilos específicos para o Moto G34 5G */
  
  /*cabeçalho*/
  
  .nav-item{
    margin-top: 100px;
    margin-left: -3px;

  }

  .nav-link{
    margin: 0;
    text-align: center;
  }

  .nav-bar{
    font-size: 5px;
    padding: 0.3rem 0.3rem;
    margin-top: 50px;

  }
  .nav-list{
    word-spacing: -2px;
  }

  .login-button{
    margin-top: -15px;
  }
  

  .logo{
    display: none;
  }

  .icon{
    display: none;
  }

  header{
    
    width: 100%;
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
   
  }

  

  /*parte do menu*/
  .nav-bar{
    padding: 1.0rem 0.1rem;
    margin-top: 50px;

  }

  

  .login-button{
      margin-top: -15px;
 margin-left: -220px;
 height: 100%;
  }

  .login-button button{
    width: 200px;
  }

  .logo{
    display: none;
  }

  .icon{
    display: none;
  }

  /* fim cabeçalho*/


  body{
    max-width: 390px;


  }

  .geral{
    max-width:300px;
    padding: 20px;
    margin: 20px;
    margin-top:250px ;
  }

  .card{
    width: 180px;
  }



  





  


}


/*responsividade para tablet*/
@media screen and (max-width: 768px) {
  body{
    max-width: 768px;

  }

  .geral{
    max-width:710px;
  }

  .card{
    width: 180px;
  }
}



@media screen  and (max-width: 360px){

    
  /*cabeçalho*/

.nav-item{
 margin-left: -3px;
 margin-top: 50px;

}

.nav-link{
 margin: 0;
 text-align: center;
 font-size: 16px;
 


}

.nav-bar{
 font-size: 5px;
 padding: 0.3rem 0.3rem;
 margin-top: 50px;
 display: flex;
 justify-content: center; /* Centraliza horizontalmente */
 align-items: center;      /* Centraliza verticalmente (opcional) */
 margin-left: -45px;

}
.nav-list{
 word-spacing: -2px;
 gap: 3px;

 
 
}

.nav-list ul li{
 margin: 0;       /* Remove espaço externo */
 padding: 2px ;  /* Ajusta o espaço interno */
 margin-left: 20px;
 
}

.login-button{
   margin-top: -15px;
 margin-left: -220px;
 height: 100%;
}




.logo{
 display: none;
}

.icon{
 display: none;
}

header{
 
 width: 100%;
 min-width: 320px;  /* Garante que a div não fique menor que 320px */
 max-width: 1200px; /* Garante que a div não fique maior que 1200px */

}




.login-button{
 margin-top: -50px;
 margin-left: -220px;
 height: 100%;
}

.logo{
 display: none;
}

.icon{
 display: none;
}

/* fim cabeçalho*/


}


