@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*background-image: linear-gradient(270deg, #100d28,#8906e6);*/

body {
    max-height: 100%;
    background-color: #1f0052;
   
    }
  
  *{
      padding: 0;
      margin: 0;
      
  }

  /*inicio menus*/
  header{
    position: relative;
    position: fixed;
    z-index:2 ;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #210037;
    box-shadow: 0px 3px 10px #464646;
  }
  
  /*background-image: linear-gradient(90deg, #a9016d, #040405);*/
  
  .nav-bar{
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 6rem;
      height: 80px;
  }
  
  .logo{
      display: flex;
      align-items: center;
  }
  
  .logo h1{
      color: #fff;
  }
  
  .nav-list{
      display: flex;
      align-items: center;
      
     
  }
  
  
  .nav-list ul:hover{
    color: #000;
  }
  
  .nav-list ul{
      display: flex;
      justify-content: center;
      list-style: none;
      
    
  }
  
  .nav-item{
      margin: 15px;
      transition-duration: .25s;
      padding: 10px;
      
    
     
  }
  
  .nav-item:hover{
    background-color: #CFD8DC;
  
      
  
  }
  .nav-link:hover{
    color: black;
    
  }
  
  .nav-link{
      text-decoration: none;
      font-size: 1.15rem;
      color: #fff;
      font-weight: 400;
  }
  
  /*botão do pânico*/

  .login-button{
    margin-left: -100px;
  
  }

  .login-button button{
    background-color: crimson;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-weight:bolder ;
    font-size: 1rem;
  }

  .login-button button:hover{
    transition: all 0.5s ease-out;
    transform: scale(1.2);
    color: plum;
  }
  
  /*fim do botão do pânico*/
  
  .mobile-menu-icon{
      display: none;
  }
  
  .mobile-menu{
      display: none;
  }
  
  @media screen and (max-width: 730px) {
      .nav-bar{
          padding: 1.5rem 4rem;
      }
      
      .mobile-menu-icon{
          display: block;
      }
      .mobile-menu-icon button{
          background-color: transparent;
          border: none;
          cursor: pointer;
      }
      .mobile-menu ul{
          display: flex;
          flex-direction: column;
          text-align: center;
          padding-bottom: 1rem;
      }
  
      .mobile-menu .nav-item{
          display: block;
          padding: 1.2rem;
      }
      .mobile-menu .login-button{
          display: block;
          padding: 1rem 2rem;
      }
      .mobile-menu .login-button button{
          width: 100%;
      }
      .open{
          display: block;
      }
  }
  
  
  /*menu hamburguer*/
    /*teste menu hamburguer*/
  
    .hamburger-menu{
      position: absolute;
  
    }
    
    #menu__toggle {
      opacity: 0;
   
      
    }
    #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      left: 0 !important;
    }
    .menu__btn {
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 4;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: white;
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .menu__box {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #210037;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
      transition-duration: .25s;
      z-index: 3;
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
    }
    .menu__item:hover {
      background-color: #CFD8DC;
      color: black;
    }

    .logo-3-menu{
      margin-top: 40px;
    }
  /*fim menus*/

  .geral{
    height: 100%;
    width: 100%;
  
    background-color: #210037;
    color: white;
    display: flex;
    padding: 180px 0 90px 0;
  }
  
  .container1{
   margin-left: 170px;
   
  }

  h1{
    font-size: 7rem;
  }

  .text-descricao{
    width: 500px;
  }

  .text-descricao  p{
    font-size: 1.6rem;
    text-align: justify;
    word-spacing: -2px;
  }

  .button-panic-meio{
    margin: 50px 0 50px 0;
  }

  .button-panic-meio button{
    background-color: crimson;
    padding: 10px;
    color: white;
    border-radius: 10px ;
    font-weight:bolder ;
    font-size: 1rem;
  }

  .button-panic-meio button:hover{
    transition: all 0.5s ease-out;
    transform: scale(1.2);
    color: plum;
  }

  .panic-meio{
    margin-left: 25px;
  }

  .button-panic-meio .panic-meio:hover{
    transition: all 0.5s ease-out;
    transform: scale(1.2);

  }

  .imgs-redes-sociais img{
    width:40px ;
    height: 30px;
    padding-left: 10px;
  }

  .imgs-redes-sociais img:hover{
    transition: all 0.5s ease-out;
    transform: scale(1.2);

  }

  .container2 img{
   margin-left:150px;
   width: 513.25px;
   height: 535px;

   

  }

  /*responsividade para tablet*/

  @media screen and (max-width: 1024px) {
    
     /*menu*/
  .nav-bar{
    font-size: 5px;
    padding: 1.5rem 3rem;
    

  }

  .login-button{
   
    margin-left: -50px;
    

  }
  
  /*fim do menu*/

  .geral{
    height: 100%;
    width: 100%;
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
    flex-wrap: wrap;
    flex-direction: column-reverse;

   
  }

  .container1{

    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .container1 h1{
    font-size: 3rem;
    text-align: center;
    margin: 0;
  padding: 0;
  }

  .text-descricao{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
   
  }

  .text-descricao p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;

  }
  
  .button-panic-meio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .imgs-redes-sociais{
    margin-left: 150px;
    margin-top: -20px;
  }

  .container2{
    
    flex-wrap: wrap;
        
    width: 100%;
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 0 auto;    /* Centraliza a div horizontalmente */
  }

  .container2 img{

    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
   

  

  }
  }



@media screen and (max-width: 768px) {
  /*menu*/
  .nav-bar{
    font-size: 5px;
    padding: 1.5rem 3rem;
    

  }

  .login-button{
   
    margin-left: -50px;
    

  }
  
  /*fim do menu*/

  .geral{
    height: 100%;
    width: 100%;
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
    flex-wrap: wrap;
    flex-direction: column-reverse;

   
  }

  .container1{

    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .container1 h1{
    font-size: 3rem;
    text-align: center;
    margin: 0;
  padding: 0;
  }

  .text-descricao{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
   
  }

  .text-descricao p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;

  }
  
  .button-panic-meio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .imgs-redes-sociais{
    margin-left: 150px;
    margin-top: -20px;
  }

  .container2{
    
    flex-wrap: wrap;
        
    width: 100%;
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 0 auto;    /* Centraliza a div horizontalmente */
  }

  .container2 img{

    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
   

  

  }

}

/*resppnsividade para celular*/
@media screen and (max-width: 480px) {

  /*cabeçalho*/
  
  .nav-item{
    margin-left: -3px;

  }

  .nav-link{
    margin: 0;
    text-align: center;
  }

  .nav-bar{
    font-size: 5px;
    padding: 0.3rem 0.3rem;
    margin-top: 50px;

  }
  .nav-list{
    word-spacing: -2px;
  }

  .login-button{
    margin-top: -50px;
    margin-left: -150px;
  }
  

  .logo{
    display: none;
  }

  .icon{
    display: none;
  }

  header{
    
    width: 100%;
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
    height: 170px;
   
  }

  

  /*parte do menu*/
  .nav-bar{
    padding: 1.0rem 0.1rem;
    margin-top: 50px;

  }

  

  .login-button{
    margin-top: -15px;
    margin-left: -220px;
    height: 100%;
  }

  .logo{
    display: none;
  }

  .icon{
    display: none;
  }

  /* fim cabeçalho*/



  .geral{
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px; /*tive que colocar par a afastar a imagem do menu 19-06*/
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
  }

  .container1{
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
 
  }

  .container1 h1{
    font-size: 3rem;
    text-align: center;
    margin: 0;
  padding: 0;
  }

  .text-descricao{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
   
  }

  .text-descricao p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    word-spacing: -3px;
    text-align: justify;
  }
  
  .button-panic-meio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .imgs-redes-sociais{
    margin-left: 50px;
    margin-top: -20px;
  }

  .container2{
    
    flex-wrap: wrap;
        
    width: 100%;
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 0 auto;    /* Centraliza a div horizontalmente */
  }

  .container2 img{

    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    width: 205.5px ;
    height: 216px 

  

  }

  

  }

  @media screen and (max-width: 720px) and (max-height: 1600px) {

    
  /*cabeçalho*/
  
  .nav-item{
    margin-left: -3px;
    margin-top: 100px;

  }

  .nav-link{
    margin: 0;
    text-align: center;
  }

  .nav-bar{
    font-size: 5px;
    padding: 0.3rem 0.3rem;
    margin-top: 50px;

  }
  .nav-list{
    word-spacing: -2px;
  }

  .login-button{
    margin-top: -15px;
    margin-left: -150px;
  }
  

  .logo{
    display: none;
  }

  .icon{
    display: none;
  }

  header{
    
    width: 100%;
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
   
  }

  

  /*parte do menu*/
  .nav-bar{
    padding: 1.0rem 0.1rem;
    margin-top: 50px;

  }

  

  .login-button{
      margin-top: -15px;
 margin-left: -220px;
 height: 100%;
  }

  .logo{
    display: none;
  }

  .icon{
    display: none;
  }

  /* fim cabeçalho*/



  .geral{
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
  }

  .container1{
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
 
  }

  .container1 h1{
    font-size: 3rem;
    text-align: center;
    margin: 0;
  padding: 0;
  }

  .text-descricao{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
   
  }

  .text-descricao p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    word-spacing: -3px;
    text-align: justify;
  }
  
  .button-panic-meio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .imgs-redes-sociais{
    margin-left: 50px;
    margin-top: -20px;
  }

  .container2{
    
    flex-wrap: wrap;
        
    width: 100%;
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 0 auto;    /* Centraliza a div horizontalmente */
  }

  .container2 img{

    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    width: 205.5px ;
    height: 216px 

  

  }

  }

  

  @media screen  and (max-width: 360px){

    
    /*cabeçalho*/
 
 .nav-item{
   margin-left: -3px;
   margin-top: 50px; 

 }

 .nav-link{
   margin: 0;
   text-align: center;
   font-size: 16px;
   
 
 
 }

 .nav-bar{
   font-size: 5px;
   padding: 0.3rem 0.3rem;
   margin-top: 50px;
   display: flex;
   justify-content: center; /* Centraliza horizontalmente */
   align-items: center;      /* Centraliza verticalmente (opcional) */
   margin-left: -45px;

 }
 .nav-list{
   word-spacing: -2px;
   gap: 3px;
  
   
   
 }

 .nav-list ul li{
   margin: 0;       /* Remove espaço externo */
   padding: 2px ;  /* Ajusta o espaço interno */
   margin-left: 20px;
   
 }

 .login-button{
   margin-top: -15px;
   margin-bottom: 40px;
 }


 

 .logo{
   display: none;
 }

 .icon{
   display: none;
 }

 header{
   
   width: 100%;
   min-width: 320px;  /* Garante que a div não fique menor que 320px */
   max-width: 1200px; /* Garante que a div não fique maior que 1200px */
  
 }

 


 .login-button{
  
   margin-left: -220px;
   height: 100%;
 }

 .logo{
   display: none;
 }

 .icon{
   display: none;
 }

 /* fim cabeçalho*/


   .box1 h1{
     margin-top: 300px;
   }
 }


 

@media screen  and (max-width: 360px){

    
  /*cabeçalho*/

.nav-item{
 margin-left: -3px;
 margin-top: 50px;

}

.nav-link{
 margin: 0;
 text-align: center;
 font-size: 16px;
 


}

.nav-bar{
 font-size: 5px;
 padding: 0.3rem 0.3rem;
 margin-top: 50px;
 display: flex;
 justify-content: center; /* Centraliza horizontalmente */
 align-items: center;      /* Centraliza verticalmente (opcional) */
 margin-left: -45px;

}
.nav-list{
 word-spacing: -2px;
 gap: 3px;

 
 
}

.nav-list ul li{
 margin: 0;       /* Remove espaço externo */
 padding: 2px ;  /* Ajusta o espaço interno */
 margin-left: 20px;
 
}

.login-button{
 margin-top: -15px;
 margin-bottom: 40px;
}




.logo{
 display: none;
}

.icon{
 display: none;
}

header{
 
 width: 100%;
 min-width: 320px;  /* Garante que a div não fique menor que 320px */
 max-width: 1200px; /* Garante que a div não fique maior que 1200px */

}




.login-button{
 margin-top: -15px;
 margin-left: -220px;
 height: 100%;
}

.logo{
 display: none;
}

.icon{
 display: none;
}

/* fim cabeçalho*/


}



 

 