* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  body {
    background:  #7f37c9
  
    
  }

  header{
    position: relative;
    position: fixed;
    z-index:2 ;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #210037;
    box-shadow: 0px 3px 10px #464646;
  }
  
  /*background-image: linear-gradient(90deg, #a9016d, #040405);*/
  
  .nav-bar{
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 6rem;
      height: 80px;
  }
  
  .logo{
      display: flex;
      align-items: center;
  }
  
  .logo h1{
      color: #fff;
  }
  
  .nav-list{
      display: flex;
      align-items: center;
      
     
  }
  
  
  .nav-list ul:hover{
    color: #000;
  }
  
  .nav-list ul{
      display: flex;
      justify-content: center;
      list-style: none;
      
    
  }
  
  .nav-item{
      margin: 15px;
      transition-duration: .25s;
      padding: 10px;
      
    
     
  }
  
  .nav-item:hover{
    background-color: #CFD8DC;
  
      
  
  }
  .nav-link:hover{
    color: black;
    
  }
  
  .nav-link{
      text-decoration: none;
      font-size: 1.15rem;
      color: #fff;
      font-weight: 400;
  }
  
  /*botão do pânico*/

  .login-button{
    margin-left: -100px;
  
  }

  .login-button button{
    background-color: crimson;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-weight:bolder ;
    font-size: 1rem;
  }

  .login-button button:hover{
    transition: all 0.5s ease-out;
    transform: scale(1.2);
    color: plum;
  }
  
  /*fim do botão do pânico*/
  
  .mobile-menu-icon{
      display: none;
  }
  
  .mobile-menu{
      display: none;
  }
  
  @media screen and (max-width: 730px) {
      .nav-bar{
          padding: 1.5rem 4rem;
      }
      
      .mobile-menu-icon{
          display: block;
      }
      .mobile-menu-icon button{
          background-color: transparent;
          border: none;
          cursor: pointer;
      }
      .mobile-menu ul{
          display: flex;
          flex-direction: column;
          text-align: center;
          padding-bottom: 1rem;
      }
  
      .mobile-menu .nav-item{
          display: block;
          padding: 1.2rem;
      }
      .mobile-menu .login-button{
          display: block;
          padding: 1rem 2rem;
      }
      .mobile-menu .login-button button{
          width: 100%;
      }
      .open{
          display: block;
      }
  }
  
  
  /*menu hamburguer*/
    /*teste menu hamburguer*/
  
    .hamburger-menu{
      position: absolute;
  
    }
    
    #menu__toggle {
      opacity: 0;
   
      
    }
    #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      left: 0 !important;
    }
    .menu__btn {
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 4;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: white;
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .menu__box {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #210037;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
      transition-duration: .25s;
      z-index: 3;
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
    }
    .menu__item:hover {
      background-color: #CFD8DC;
      color: black;
    }
  /*fim menus*/


  .container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 5%;
   
  }

  .left,
  .right {
    background: white;
    border-radius: 12px;
    padding: 20px;
  }

  .left {
    flex: 3;

  }

  .right {
    flex: 1;
    background: white;
    height: 100%;
    
  }

  #destaque{
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin: 0 10% 0 10%;
    margin-top: -170px;
    
  }

  .header-title {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    

    
  }

  .subtitle {
    font-size: 1em;
    color: #fff;
    margin-bottom: 20px;
  }

  #destaque img{
    height: 200px;
    width: 200px;
    margin-top: -50px;

    
   
   
  }

  .info-card {
    background: #f7f7f7;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;


    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 colunas de largura igual */
    gap: 20px; /* Espaçamento horizontal entre as divs */ 
    
    
  }

  .info-card .image-placeholder {
    background: #ccc;
    height: 200px;
    text-align: center;
    line-height: 120px;
    margin-bottom: 10px;
    border-radius: 20px;
  }


 
  

  .info-card .title {
    font-weight: bold;
    margin-bottom: 5px;
    color: #4a0072;
    font-size: 2em;
   
  }

  .info-card .desc {
    font-size: 1em;
    margin-bottom: 10px;
  }

  .desc p{
    margin-bottom: 30px;
    font-size: 1.5em;
    text-align: justify;
    word-spacing: -4px;
  }

  .desc ul li{
    margin-bottom: 20px; /* Espaço vertical entre os itens */
  }

  .info-card .link {
    font-size: 0.85em;
    color: #1900ff;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-block;
  }

  .info-card .link:hover{
    transform: scale(1.2);
  }

  .info-card .btn {
    background: #c16af7;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85em;
    
    margin-left: 180px;
  }

  .info-card .btn:hover {
    transform: scale(1.2);
    box-shadow: 0px 5px 5px 0px #4a0072;
  }

  
  .right .news-item {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 12px;
    font-size: 0.9em;

    display: flex;
  }

  .right .news-item .thumb {
   
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 6px;
    
  }
/*
  #tumb1{
    background: url(../imgs/flor.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  
  #tumb2{
    background: url(../imgs/forma.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  
  #tumb3{
    background: url(../imgs/forma.png);
    background-size: cover;
    background-repeat: no-repeat;
  }*/

  .right .news-item .text-1 {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 60px);
  }

  h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: rgb(16, 16, 112);
  }

  .h2-right{
    color: #4a0072;
  }

  .hr-titlle-1{
    background-color: #4a0072;
    height: 3px; /* Altera a altura da linha */
    border: none; /* Remove a borda padrão */
    width: 80%; /* Altera a largura da linha */
    margin: 200px 150px; /* Altera o espaço acima e abaixo da linha */
    
  }
  
  .hr-titlle{
    background-color: #4a0072;
    height: 3px; /* Altera a altura da linha */
    border: none; /* Remove a borda padrão */
    width: 80%; /* Altera a largura da linha */
    margin: 20px 150px; /* Altera o espaço acima e abaixo da linha */
  }
  
  hr{
    background-color: #ffe4e4; 
  height: 3px; /* Altera a altura da linha */
  border: none; /* Remove a borda padrão */
  width: 100%; /* Altera a largura da linha */
  margin: 20px 0; /* Altera o espaço acima e abaixo da linha */
  }

  .hr-right{
    background-color: #4a0072;
    height: 3px; /* Altera a altura da linha */
    border: none; /* Remove a borda padrão */
    width: 100%; /* Altera a largura da linha */
    margin: 20px 0; /* Altera o espaço acima e abaixo da linha */

  }

  .hr-roxa{
    background-color: #4a0072;
    height: 3px; /* Altera a altura da linha */
    border: none; /* Remove a borda padrão */
    width: 100%; /* Altera a largura da linha */
    margin: 20px 0; /* Altera o espaço acima e abaixo da linha */
  }


/*inicio do carrossel*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
 
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*fim do carrossel*/



/*responsividade para celular*/
@media screen and (max-width: 480px) {
  
  

  .header-title h1{
    font-size: 2.1rem;
    margin-left: -30px;
  }

  .header-title .subtitle{
    font-size: 1.5rem;
    margin-left: -20px;

  }
 
.hr-titlle-1{
  margin-left: 0;
}

.hr-titlle{
  margin-left: 0;
}

  .container{
    width:100%;
    display: flex;
    flex-direction: column;
  }

  .left{
    
    flex-wrap: wrap;    
    width: 100%;
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
    margin: 0 auto;    /* Centraliza a div horizontalmente */

   
  }
  .desc{
    width: 100%;
  }

  .desc ul li{
    margin-left: 20px;
  }

  .info-card{
    width: 100%;
    margin-left: -13px;
    display: flex;
    flex-direction: column;
    
    
  }

  .desc p{
    font-size: 1rem;
    
  }
   
 /* #p-psi{
   height: 300px;
   width: 150px;
   margin-bottom: 50px;
   text-align: justify;
   word-spacing: -10px; /* define 10px de espaço entre palavras */
  
 a{
  margin-left: 30px;
  
  }

 

  .right{
    margin-top: 10%;
    margin-bottom: 10%;
  }

  /*menu*/

.nav-item{
  margin-left: -3px;
  margin-top: 100px;

}

.nav-link{
  margin: 0;
  text-align: center;
}

.nav-bar{
  font-size: 5px;
  padding: 0.3rem 0.3rem;
  margin-top: 50px;

}
.nav-list{
  word-spacing: -2px;
}
.login-button{
  height: 100%;
}

.login-button button{
  width: 200px;
}

.logo{
  display: none;
}

.icon{
  display: none;
}

header{
  
  width: 100%;
  min-width: 320px;  /* Garante que a div não fique menor que 320px */
  max-width: 1200px; /* Garante que a div não fique maior que 1200px */
  height: 170px;
 
}



  
}
  

/*responsividade para tablet*/
@media screen and (max-width: 768px) {
  body{
    max-width: 768px;

  }

  .container{
    max-width:710px;
  }

  .left{
    width: 400px;
  }

  .info-card .btn{
    margin-left: -30px;
  
    }

    .news-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .text-1 p{
      width: 100%;
    }
  




}


@media screen and (max-width: 720px) and (max-height: 1600px) {
 

  

  .header-title h1{
    font-size: 2.1rem;
    margin-left: -30px;
  }

  .header-title .subtitle{
    font-size: 1.5rem;
    margin-left: -20px;

  }

  
.hr-titlle-1{
  margin-left: 0;
}

.hr-titlle{
  margin-left: 0;
}

  .container{
    width:100%;
    display: flex;
    flex-direction: column;

    
    
   

  }

  .left{
    
    flex-wrap: wrap;
    width: 100%;
    min-width: 320px;  /* Garante que a div não fique menor que 320px */
    max-width: 1200px; /* Garante que a div não fique maior que 1200px */
    margin: 0 auto;    /* Centraliza a div horizontalmente */

   
  }
  .desc{
    width: 100%;
  }

  
  .desc ul li{
    margin-left: 20px;
  }

   
 a{
  margin-left: 30px;
  
  }

  .info-card{
    width: 100%;
    margin-left: -13px;
    display: flex;
    flex-direction: column;
    
    
  }

  .desc p{
    font-size: 1rem;
    
  }


.info-card .btn{
  margin-left: -30px;

  }

  .desc ul{

  }

  .right{
    margin-top: 10%;
    margin-bottom: 10%;
  }

  /*menu*/

.nav-item{
  margin-left: -3px;

}

.nav-link{
  margin: 0;
  text-align: center;
}

.nav-bar{
  font-size: 5px;
  padding: 0.3rem 0.3rem;
  margin-top: 50px;

}
.nav-list{
  word-spacing: -2px;
}
.login-button{

 margin-left: -220px;
 height: 100%;
}

.login-button button{
  width: 200px;
}

.logo{
  display: none;
}

.icon{
  display: none;
}

header{
  
  width: 100%;
  min-width: 320px;  /* Garante que a div não fique menor que 320px */
  max-width: 1200px; /* Garante que a div não fique maior que 1200px */
 
}




}



@media screen  and (max-width: 360px){

    
  /*cabeçalho*/

.nav-item{
 margin-left: -3px;
 margin-top: 50px;

}

.nav-link{
 margin: 0;
 text-align: center;
 font-size: 16px;
 


}

.nav-bar{
 font-size: 5px;
 padding: 0.3rem 0.3rem;
 margin-top: 50px;
 display: flex;
 justify-content: center; /* Centraliza horizontalmente */
 align-items: center;      /* Centraliza verticalmente (opcional) */
 margin-left: -45px;

}
.nav-list{
 word-spacing: -2px;
 gap: 3px;

 
 
}

.nav-list ul li{
 margin: 0;       /* Remove espaço externo */
 padding: 2px ;  /* Ajusta o espaço interno */
 margin-left: 20px;
 
}

.login-button{
 margin-top: -50px;
 margin-bottom: 40px;
}




.logo{
 display: none;
}

.icon{
 display: none;
}

header{
 
 width: 100%;
 min-width: 320px;  /* Garante que a div não fique menor que 320px */
 max-width: 1200px; /* Garante que a div não fique maior que 1200px */

}




.login-button{
 margin-top: -50px;
 margin-left: -220px;
 height: 100%;
}

.logo{
 display: none;
}

.icon{
 display: none;
}

/* fim cabeçalho*/


.hr-titlle-1{
  margin-left: 0;
}

.hr-titlle{
  margin-left: 0;
}


  .desc ul li{
    margin-left: 20px;
  }

   
 a{
  margin-left: 30px;
  
  }


}

@media screen and (max-width: 720px) and (max-height: 1600px) {
  
}

 


