body {
    max-height: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    }
  
  *{
      padding: 0;
      margin: 0;
      
  }

  .geral{     
    background-color: purple;
    display: flex;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

   

 
    

    
    
    /*place-items: center;  Centraliza nos dois eixos */
  
  }

  .container-1{
    background-color: grey;
    display: flex;
    margin: 0 auto;
    margin: 70px;


    
   
   
  }

  .p1{
    background-color: blueviolet;
  }